<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/spectre.min.css">
        <link rel="stylesheet" href="/static/css/spectre-exp.min.css">
        <link rel="stylesheet" href="/static/css/spectre-icons.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <title>{{props.title}}</title>
    </head>
    <body>
        {% include "header.html" %}
        {% block header %}{% endblock %}
        <div id="contents">
            <p>{{props.msg}}</p>
            {% block contents %}{% endblock %}
        </div>
        {% include "footer.html" %}
        {% block footer %}{% endblock %}
    </body>
</html>
