{% extends "base.html" %}
{% block contents %}
<div id="moed" class="col-2 col-sm-2">
    <label class="form-switch">
        <input type="checkbox" name="edit" onchange="chage_mode(this)">
        <i class="form-icon"></i> 編集モード
    </label>
</div>

{% set last_name, first_name = user.name.split(' ') %}

<div id="user_info"　class="card">
    <div class="card-header">
        <div class="card-title h5">ユーザー情報</div>
        <div class="card-subtitle">
            <div class="card-image">
                <figure class="avatar avatar-sm">
                    <i class="icon icon-emoji"></i>
                    <!-- img src="static/img/avatar-{{user.id}}.png" alt="{{user.name}}" -->
                </figure>
            </div>
        </div>
    </div>
    <div class="card-body">
    <form id="user_info_form" class="form-horizontal">
        <div class="form-group">
            <div class="col-1 col-sm-4">
                <label class="form-label" for="id">ID</label>
            </div>
            <div class="col-3 col-sm-4">
                <input type="text" name="id" class="form-input" value="{{user.id}}" disabled>
            </div>
        </div>
        <fieldset disabled>
        <div class="form-group">
            <div class="col-1 col-sm-4">
                <label class="form-label" for="name">名前</label>
            </div>
            <div class="col-3 col-sm-4">
                <input type="text" name="last_name" class="form-input" size="127" placeholder="姓" value="{{last_name}}">
                <input type="text" name="first_name" class="form-input" size="127" placeholder="名" value="{{first_name}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-1 col-sm-4">
                <label class="form-label" for="age">年齢</label>
            </div>
            <div class="col-3 col-sm-4">
                <input type="number" name="age" class="form-input" min="0" max="127" value="{{user.age}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-1 col-sm-4">
                <label class="form-label" for="age">性別</label>
            </div>
            <div class="col-3 col-sm-4">
                <label class="form-radio form-inline">
                {% if user.gender == '未選択' %}
                <input type="radio" name="gender" checked value="未選択"><i class="form-icon"></i> 未選択
                {% else %}
                <input type="radio" name="gender" value="未選択"><i class="form-icon"></i> 未選択
                {% endif %}
                </label>
                <label class="form-radio form-inline">
                {% if user.gender == '女姓' %}
                <input type="radio" name="gender" checked value="女性"><i class="form-icon"></i> 女性
                {% else %}
                <input type="radio" name="gender" value="女性"><i class="form-icon"></i> 女性
                {% endif %}
                </label>
                <label class="form-radio form-inline">
                {% if user.gender == '男姓' %}
                <input type="radio" name="gender" checked value="男性"><i class="form-icon"></i> 男性
                {% else %}
                <input type="radio" name="gender" value="男性"><i class="form-icon"></i> 男性
                {% endif %}
                </label>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" id="update" class="btn disabled" onclick="updater()">更新</button>
        <button type="button" id="delete" class="btn btn-warning disabled" onclick="deleter()">削除</button>
    </div>
</fieldset>
    </form>
</div>

<script>
    var chage_mode = function(edit) {
        alert('switch changed: ' + edit.checked);
        var mode = document.getElementsByTagName('fieldset');
        console.dir(mode);
        if(edit.checked) {
            mode[0].disabled=false;
            document.getElementById('update').classList.remove('disabled');
            document.getElementById('delete').classList.remove('disabled');
        } else {
            mode[0].disabled=true;
            document.getElementById('update').classList.add('disabled');
            document.getElementById('delete').classList.add('disabled');
        }
    };
    var updater = function() {
        alert('Todo: Update.');
    };
    var deleter = function() {
        alert('Todo: Delete.');
    };
</script>
{% endblock %}
