{% extends "base.html" %}
{% block contents %}
<table>
    <tr>
        <th>ID</th><th>Name</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="./users/{{user[0]}}">{{user[0]}}</a></td><td>{{user[1]}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><button id="add_user" onclick="register()">新規登録</button></td>
    </tr>
</table>
<div id="page">
    <ul class="pagination">
        <li class="page-item disabled">
            <a href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active">
            <a href="#">1</a>
        </li>
        <li class="page-item">
            <a href="#">Next</a>
        </li>
    </ul>
</div>
<script>
    var register = function() {
        alert('Todo: open form');
    };
</script>
{% endblock %}
