<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
    </head>
    <body>
        <div id="contents">
            <p>{{props.msg}}</p>
            <table>
                <tr>
                    <th>ID</th><th>Name</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td><a href="./users/{{user[0]}}">{{user[0]}}</a></td><td>{{user[1]}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><button id="add_user" onclick="resister()">新規登録</button></td>
                </tr>
            </table>
        </div>
        <hr>
        <a href="/">Home</a>
        <script type="javascript">
            function resister() {
                var btn = window.getElementById('#add_user');

            }
        </script>
    </body>
</html>
