{% block user_modal %}
<div class="modal" id="add_user_modal">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <button class="btn btn-clear float-right" onclick="modal_close()"></button>
            <div class="modal-title h5">ユーザー登録</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <form class="form-horizontal" method="POST" action="/users">
                    <label class="form-label" for="name">名前</label>
                    <input type="text" name="last_name" class="form-input" size="127" placeholder="姓">
                    <input type="text" name="first_name" class="form-input" size="127" placeholder="名">
                    <label class="form-label" for="age">年齢</label>
                    <input type="number" name="age" class="form-input" min="0" max="127">
                    <div class="form-group">
                        <label class="form-radio form-inline">
                            <input type="radio" name="gender" checked value="未選択"><i class="form-icon"></i> 未選択
                        </label>
                        <label class="form-radio form-inline">
                            <input type="radio" name="gender" value="女性"><i class="form-icon"></i> 女性
                        </label>
                        <label class="form-radio form-inline">
                            <input type="radio" name="gender" value="男性"><i class="form-icon"></i> 男性
                        </label>
                    </div>
                    <button type="submit" id="add" class="btn">登録</button>
                </form>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
{% endblock %}
