body{
    margin-left: 35px;
    margin-right: 35px;
}

header{
    margin-top: 10px;
    background-color: rgb(203, 206, 209);
}

#contents{
    margin-left: 25px;
    margin-right: 25px;
    min-height: calc(90vh - 50px);
}

footer{
    height: 50px;
}
